.ICEauthority
.Xauthority
.bash_history
.cache/
.config/chromium/
.config/pulse/
.dbus/
.gconf/
.gnupg/
.pki/
.xfce4-session.*
.xsession-errors
.config/nvim/pack/
*.katesession
.config/nvim/alpha_bookmark.lua
