snippet consol "console.log(...)" b
console.log($0);
endsnippet
snippet prn "error_log(...)" b
error_log(print_r($0, true));
endsnippet
snippet jqueryready "jquery.ready" b
jQuery(document).ready(function(){ ${cursor} });
endsnippet
