[Desktop Entry]
Type=Service
Encoding=UTF-8
Actions=OpenWithCVLC
ServiceTypes=KonqPopupMenu/Plugin,inode/directory
ExcludeServiceTypes=kdedevice/*
X-KDE-Priority=TopLevel

[Desktop Action OpenWithCVLC]
Name=Open with CVLC
Exec=/home/mte90/Desktop/Prog/My-Scripts/misc/cvlc.sh "%U"
Icon=vlc
Terminal=false
